{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="message">Please leave a note:</label><br>
      <input type="text" name="message" id="message"> <br>
      <label for="handle">What's your name or handle:</label><br>
      <input type="text" name="handle" id="handle"> <br>
      <input type="submit" value="Submit">
  </form>

  {% if thanks %}
     <br> 
     Thanks for the your submission, {{handle}}! Below is your message: <br>
     {{message}}
  {% endif %}

{% endblock %}
  